*.iml
/local.properties
/UnusedResources/.idea/caches
/UnusedResources/.idea/libraries
/UnusedResources/.idea/modules.xml
/UnusedResources/.idea/workspace.xml
/UnusedResources/.idea/navEditor.xml
/UnusedResources/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/UnusedResources/
/.idea/