<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ethical_techniques.notemaker">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
   <application
        android:icon="@drawable/ic_notebook_edit_outline_black_36dp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_notebook_edit_outline_black_48dp"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name="com.google.firebase.auth.internal.FederatedSignInActivity"
            android:launchMode="standard"
            tools:replace="android:launchMode" />

        <!-- Application Flow Delegation Activity -->
        <activity android:name=".auth.AppFlowActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login Activity -->
        <activity
            android:name=".auth.UserLoginActivity"
            android:label="@string/title_activity_user_login"
            android:parentActivityName=".auth.AppFlowActivity" />

        <!-- Register New User Activity -->
        <activity
            android:name=".auth.UserRegisterActivity"
            android:label="Create New Account"
            android:parentActivityName=".auth.AppFlowActivity" />

        <!-- User Update Account Activity -->
        <activity
            android:name=".auth.UpdateProfileActivity"
            android:label="Account Update"
            android:parentActivityName=".auth.AppFlowActivity" />

        <!-- The List Activity -->
        <activity
            android:name=".ListActivity"
            android:label="" />

        <!-- The Edit/New Note Activity -->
        <activity
            android:name=".NoteActivity"
            android:label="@string/title_note_activity"
            android:parentActivityName=".ListActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ethical_techniques.notemaker.ListActivity" />
        </activity>

        <!-- The Settings (Preferences) Activity -->
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ListActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ethical_techniques.notemaker.ListActivity" />
        </activity>

        <!-- NoteCategory List Activity -->
        <activity
            android:name=".CategoryListActivity"
            android:label="Note Categories"
            android:parentActivityName=".ListActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ethical_techniques.notemaker.ListActivity" />
        </activity>

        <!-- The New/Edit NoteCategory Activity -->
        <activity
            android:name=".CreateCategoryActivity"
            android:label="New Category"
            android:parentActivityName=".ListActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ethical_techniques.notemaker.ListActivity" />
        </activity>


    </application>


</manifest>
